<%- include("partials/header.ejs") %>

<div class="container pt-5 ">
  <form action="/listeClients" method="POST">
    <div class="input-group has-validation">
      <div class="input-group col-4 px-5 <%= is_invalid %>">
      <input type="search" name="search" class="form-control <%= is_invalid %>" placeholder="Search client by name ... " aria-label="Search">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
      </button>
      </div>
      <div class="col-4 px-5 mb-2 invalid-feedback">
        Client not found, try again
      </div>
    </div>

  </form>
</div>


<div class="container py-5">
<table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">City</th>
        <th scope="col">Adress</th>
        <th scope="col">Platforme</th>
      </tr>
    </thead>
    <tbody>
    <% if(locals.clients){ %>
      <% for(let i=0 ; i<clients.length ; i++){ %>
        <tr>
          <th scope="row"><%=i+1%></th>
          <td><%=clients[i].name %></td>
          <td><%=clients[i].phone %></td>
          <td><%=clients[i].city %></td>
          <td><%=clients[i].adress %></td>
          <td><%=clients[i].platforme %></td>
        </tr>
      <% } %>  
      <% } %> 

    </tbody>
  </table>    
</div>



<%- include("partials/footer.ejs") %>